.about-container{
    margin: 40px auto;
    width: 50%;

}

.about-heading{
    font-size: 40px;
    /* height: 100vh; */
}

.profile-img{
    width: 200px;
    border-radius: 100%;

}

.about-info{
    text-align: left;
}


