.about-container{
    /* margin: 40px auto; */
    /* width: 50%; */
    display: grid;

}

 

/* .heading{
    background: rgb(21, 21, 21);
    color:white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
} */

.profile-img{
    width: 200px;
    border-radius: 100%;
    margin: 30px auto;

}
.heading h1{
    font-size: 40px;
}

.about-info{
    color: black;
    background: #fafafa;
    text-align: left;
    padding: 0 20%;
    
}    
                


