.blurb-container {
    display: grid;
    grid-template-columns: auto;
    margin: 15% 10%;
  }
  
  .blurb-img {
    order: 1; /*swaps position for image to be on top*/
    margin: auto;
    align-self: center;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.228) 0 0 30px 10px;
    width: 80%;
    
  }
  
  .blurb-text {
    order: 2; /*swaps position for text to be on the bottom*/
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    margin: auto;
  }
  
  /********** Responsive Styles **********/
  
  /* viewport 4 : Mobile-landscape (and larger) */
  @media (min-width: 480px) {
    .blurb-container {
      display: grid;
    }
    
    .blurb-img {
      order: 1; /*swaps position for image to be on top*/
      margin-bottom: 50px;
    }
  }
  
  /* viewport 7 : Tablet-portrait (and larger) */
  @media (min-width: 768px) {
    .blurb-container {
      grid-template-columns: 50% 50%;
    }
    
    .blurb-img {
      order: initial; /*resets position of image */
      margin: initial;
      width: 100%;
      align-items: center;
    }
  
    .blurb-text {
      order: initial; /*resets position of text */
      padding: 0 35px;
 
      }
  }
  
  /* viewport 9 : Table-landscape (and larger) */
  @media (min-width: 992px) {
    .blurb-text {
      padding: 0 50px;
    }
  }
  
  /* viewport 12 : Laptops (and larger)  */
  @media (min-width: 1200px) {
    .blurb-text {
      padding: 0 60px;
    }
  }
  