form {
  width: 85%;
  margin: 40px auto;
  text-align: left;
}

.form-btn {
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  background: #2B2D42;
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: 0.5s;

}

.form-btn:hover {
  background: #92DCE5;
}

.email-submission {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
}

.error {
  border: 2px red solid;
}

.field-status {
  color: red;
  font-size: 10px;
  margin-bottom: 16px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
  font-size: 15px;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

textarea {
  height: 150px;
  resize: none;
}

label {
  font-size: 15px;
  text-transform: uppercase;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a {
  color: black;
}

#github-icon,
#linkedin {
  margin: 10px;
  align-self: center;
}

#github-icon:hover,
#linkedin-icon:hover {
  color: rgb(50, 50, 50);
}

#github-icon {
  font-size: 35px;
}

#linkedin-icon {
  font-size: 43px;
}

/********** Responsive Styles **********/

/* viewport 4 : Mobile-landscape (and larger) */
@media (min-width: 480px) {
  form {
    margin: 50px auto;
  }

  #github-icon {
    margin: 10px;
    font-size: 35px;
    align-self: center;
  }

  #linkedin-icon {
    margin: 10px;
    font-size: 43px;
    align-self: center;
  }
}

/* viewport 7 : Tablet-portrait (and larger) */
@media (min-width: 768px) {
  form {
    display: grid;
    width: 80%;
    gap: 20px;
    grid-template-areas:
      "item1 item2"
      "item3 item3"
      "button button";
  }

  #item1 {
    grid-area: item1;
  }

  #item2 {
    grid-area: item2;
  }

  #item3 {
    grid-area: item3;
  }

  .form-btn {
    grid-area: button;
  }

  #github-icon {
    margin: 10px;
    font-size: 40px;
    align-self: center;
  }

  #linkedin-icon {
    margin: 10px;
    font-size: 48px;
    align-self: center;
  }
}

/* viewport 9 : Table-landscape (and larger) */
@media (min-width: 992px) {
  form {
    width: 70%;
  }
}

/* viewport 12 : Laptops (and larger)  */
@media (min-width: 1200px) {
  form {
    width: 60%;
  }
}
